{{ define "main" }}
<main>
	<article>
		<div class="title post-header">
			<h1 class="title">{{ .Title }}</h1>

			{{- $pubdate := .PublishDate.Format "Jan 2, 2006" }}
			
			<time class="meta">&nbsp;/ pub {{ $pubdate }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
			
			{{- if .Lastmod }}
				{{- $lastmod := .Lastmod.Format "Jan 2, 2006" }}
				{{- if ne $lastmod $pubdate }}
					<time class="meta"> / upd {{ $lastmod }} </time>
				{{- end }}
			{{- end }}
		</div>
		
		<div class="post-tags">
			{{ if ne .Type "page" }}
				{{ if gt .Params.tags 0 }}
					<nav class="nav tags">
						<ul class="tags">
							{{ range .Params.tags }}
								<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
							{{ end }}
						</ul>
					</nav>
				{{ end }}
			{{ end }}
		</div>

		<div>
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		<section class="body">
			{{ .Content }}
		</section>
	</div>
	</article>
</main>
{{ end }}
